@using BenimBlogCore.Models.Entity
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">


                        <div>

                            <img src="@item.BlogResim" style="width: 100%;" />

                        </div>


                        <div class="product-desc">
                            <span class="product-price">
                                @(((DateTime)item.BlogTarih).ToString("dd-MMM-yyyy"))
                            </span>
                            <small class="text-muted">@item.Kategori.KategoriAdı</small>
                            <a href="#" class="product-name"> @item.BlogBaslık</a>
                            <div class="small m-t-xs">
                                @item.Blogİcerik.Substring(0,Math.Min(item.Blogİcerik.Length,100))...
                            </div>
                            <div class="m-t text-righ">

                                <a href="/Blog/BlogDetay/@item.BlogID" class="btn btn-xs btn-outline btn-primary">Detay <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>

</div>

